<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{{name}}
<ul>
{% for table in tables %}

    <li>{{table}}</li>
    <a href="http://127.0.0.1:8000/main/home/db/{{db_name}}/table/{{table}}/add_row">
        <button>Add row</button>
    </a>
    <a href="http://127.0.0.1:8000/main/home/db/{{db_name}}/table/{{table}}/edit_row">
        <button>Edit Row</button>
    </a>
    <a href="http://127.0.0.1:8000/main/home/db/{{db_name}}/table/{{table}}/delete_row/1">
        <button>Delete row</button>
    </a>
    <a href="http://127.0.0.1:8000/main/home/db/{{db_name}}/table/{{table}}/del_same_rows">
        <button>Delete the same rows</button>
    </a>
    <a href="http://127.0.0.1:8000/main/home/db/{{db_name}}/table/{{table}}/view_table">
        <button>View Table</button>
    </a>


{% endfor %}
</ul>
<a href="/main/home/db/{{db_name}}/create_table">
   <button>Create New Table</button>
</a>
<a href="/main/home/db/{{db_name}}/download">
   <button>Download</button>
</a>
</body>
</html>