<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/main/home/create_db" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="db_name">DB name: </label>
    <input id="db_name" type="text" name="db_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form>
{% for name in db_names%}

    <p>{{name}}</p>
    <a href="http://127.0.0.1:8000/main/home/db/{{name}}">
        <button>Open</button>
    </a>
{% endfor %}
<a href="http://127.0.0.1:8000/main/home/upload">
        <button>Upload DB</button>
</a>


</body>
</html>